#app {
  height: 100%;
  width: 100vw;
  margin: 0;
}

.nav {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav a {
  margin: 0 1em;
}

.nav-links {
  display: flex;
  align-items: center;
}

form {
  min-width: 50%;
  max-width: 50%;
}

a {
  text-decoration: none;
  color: #8c93b3;
}

a:hover {
  border-bottom: 1px solid;
}

.nav a:first-child:hover {
  border: none;
}

#logo {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

#cart {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 3em;
}

.products-container {
  width: 100vw;
  display: flex;
}

.mini-product-container {
  padding: 0.5em;
  margin: 5px;
  width: 250px;
  border: 1px solid blue;
  border-radius: 5px;
  box-shadow: 1px 2px 5px black;
  display: flex;
}

.products-container-search-bar {
  width: 25%;
}

.products-list {
  width: 100vw;
  display: flex;
  flex-grow: 4;
  flex-wrap: wrap;
}

.mini-product-top-row {
  display: flex;
}

.mini-product-container-image img {
  width: 100px;
  height: 100px;
}

.mini-product-container-name-price {
  padding: 0.5em;
}

/* #products-container-search-bar {
  position: fixed;
  top: 0;
  left: 0;
} */

/* BACKGROUND COLORS */
.bgcolor-lightslateblue {
  background-color: #8c93b3;
}
.bgcolor-slateblue {
  background-color: #475671;
}
.bgcolor-darkslateblue {
  background-color: #252e3e
}
.bgcolor-darkerslateblue {
  background-color: #121a28;
}
.bgcolor-darkestslateblue {
  background-color: #050911;
}


