#app {
  height: 100%;
  width: 100%;
  margin: 0;
}

nav {
  height: 80px;
}

nav a {
  margin: 0 1em;
}

form {
  min-width: 50%;
  max-width: 50%;
}

a {
  text-decoration: none;
  color: #753ebd;
}

a:hover {
  border-bottom: 1px solid;
}

nav a:first-child:hover {
  border: none;
}

#logo {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.products-container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.mini-product-container {
  padding: 0.5em;
  width: 33%;
  border: 1px solid blue;
}

.products-container-search-bar {
  width: 25%;
}

.test-border-dot {
  border: 5px solid black;
  width: 75%;
}

.mini-product-top-row {
  display: flex;
}

.mini-product-container-image img {

  width: 100px;
  height: 100px;
}

.mini-product-container-name-price {
  display: flex;
  padding: 0.5em;
}

#mini-product-name, #mini-product-price {
  margin-top: 0;
  padding: 0.5em;
}

/* #products-container-search-bar {
  position: fixed;
  top: 0;
  left: 0;
} */