/* APP DEFAULTS */

#app {
  height: 100%;
  width: 100vw;
  margin: 0;
  background-color: #121a28;
  color: #8c93b3
}

/* NAV BAR */

.nav {
  width: 100vw;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
}

.nav a {
  margin: 0 1em;
}

.nav-links {
  display: flex;
  align-items: center;
  font-family: "unispace";
}

a {
  text-decoration: none;
  color: #8c93b3;
}

a:hover {
  border-bottom: 1px solid;
}

.nav a:first-child:hover {
  border: none;
}

#logo {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

#cart {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 3em;
}

/* FORM */

form {
  min-width: 50%;
  max-width: 50%;
}

/* PAGE FORMATTING */

.main-container {
  padding-top: 80px;
}

.products-container {
  width: 100vw;
  padding: 0;
  display: flex;
  align-content: space-between;
}

.sidebar {
  width: 20em;
  margin-left: 0;
  position: fixed;
  height: 100%;
}

.interactive-container {
  padding-left: 20em;
}

/* PRODUCTS GALLERY */

.products-list {
  width: 100vw;
  margin: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.mini-product-container {
  margin: 5px;
  height: 350px;
  box-shadow: 0px 0px 5px black;
  display: flex;
  flex-direction: column;
  flex-basis: 10%;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}

.mini-product-container-image img {
  width: 250px;
  height: 350px;
}

/* Hide price unless hovering */
.mini-product-price {
  position: absolute;
  top: 0;
  right: 10px;
  border-radius: 3px;
  padding: 1em;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s;
}

.mini-product-container:hover {
  box-shadow: 0px 0px 0px 1px lightgrey;
  background-color: #475671;
  transition: 0.5s;
}

.mini-product-container:hover .mini-product-price {
  visibility: visible;
  opacity: 0.75;
}

/* SINGLE PRODUCT VIEW */

.single-product-meta {
  display: flex;
  margin: 2em 0;
}

.lrg-img {
  width: 800px;
  height: 600px;
}

.single-product-info {
  margin-left: 2em;
}

.single-product-desc {
  display: flex;
  flex-direction: column;
}

.review {
  border: 1px solid black;
  margin: 1em;
  padding: 1em;
}

.review-text {
  border: 0.5px solid black;
  padding: 2em;
}

.add-to-cart {
  padding: 2em;
}

.back-button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: lightgrey;
  opacity: 0.75;
  font-size: 3em;
}

/* CART */
.cart-view {
  display: flex;
  width: 100vw;
  align-content: space-between;
}

.cart-products {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cart-product-gallery {
  display: flex;
  margin: 1em;
  border: 1px solid black;
}

/* BACKGROUND COLORS */
.bgcolor-lightslateblue {
  background-color: #8c93b3;
}
.bgcolor-slateblue {
  background-color: #475671;
}
.bgcolor-darkslateblue {
  background-color: #252e3e
}
.bgcolor-darkerslateblue {
  background-color: #121a28;
}
.bgcolor-darkestslateblue {
  background-color: #050911;
}
.bgcolor-buymegreen {
  background-color: #1c964f;
}


